body { margin:0px; padding:0px; }
img { border:0px solid; }
.Container {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	height:100vh;
	background-attachment:fixed;
	clear:both;
	overflow:auto;
}
.tint {
	background-color:rgba(0,0,0,0);
	height:100vh;
	background-attachment:fixed;
	clear:both;
	overflow:auto;
}
.Holder {
	width:900px;
	height:auto;
	margin:0 auto;
	padding-top:31px;
	clear:both;
	overflow:auto;
}
.WelcomeMessageMessage {
	width:496px;
	height:auto;
	margin:11px auto;
	float:left;
}
.OuterAccountBox {
	width:300px;
	padding:12px;
	margin:0px auto;
	margin-left:31px;
	margin-bottom:11px;
	border-radius:16px;
	background-color:rgba(0,0,0,.3);
	float:left;
}
.OuterAccountBox1{
	width:300px;
	padding:12px;
	margin:0px auto;
	margin-left:31px;
	margin-bottom:11px;
	border-radius:16px;
	background-color:rgba(0,0,0,.3);
	float:left;
}
.Account {
	width:300px;
	height:auto;
	padding:11px 0px 11px 0px;
	margin:0px auto;
	border-radius:6px;
	background-color:rgba(245,244,244,1.00);
	
}
.Account1 {
	width:300px;
	height:auto;
	padding:11px 0px 11px 0px;
	margin:0px auto;
	border-radius:6px;
	background-color:rgba(245,244,244,1.00);
	
}
h2 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0px 0px 0px 0px;
	color:rgba(5,26,107,1.00);
	font-size:21px;
	font-weight:lighter;
}
h1 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:6px 0px 0px 0px;
	color:#FFF;
	font-size:31px;
	font-weight:lighter;
}
h3 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:6px 0px 0px 0px;
	color:#FFF;
	font-size:16px;
	font-weight:lighter;
}
h5 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:6px 0px 0px 0px;
	color:#FFF;
	font-size:21px;
	font-weight:lighter;
}
h6 {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:6px 0px 0px 0px;
	color:#000;
	font-size:14px;
	font-weight:lighter;
}
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown1{
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
	right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1{
    display: block;
}

.dropdown1:hover .dropbtn {
    background-color: #3e8e41;
}
.font {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:32px;
}
.TextFieldStyle {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:lighter;
	padding-left:6px;
	border:1px solid #AAAAAA;;
	border-radius:6px;
	width:260px;
	height:35px;
}
.Auth {
	float:right;
	width:375px;
}

.Auth1 {
	float:right;
	width:860px;
	
}
.Auth2 {
	float:right;
	width:860px;
	
}
.Button {
	width:150px;
	height:30px;	
	border-radius:6px;
	border:1px solid #9A8601;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	font-weight:lighter;
	margin:6px 0px 6px 0px;
	/* CSS Button Gradient Start */
	
	background: rgba(254,182,69,1);
	background: -moz-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(232,216,67,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(232,216,67,1)));
	background: -webkit-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(232,216,67,1) 100%);
	background: -o-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(232,216,67,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(232,216,67,1) 100%);
	background: linear-gradient(to bottom, rgba(254,182,69,1) 0%, rgba(232,216,67,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#e8d843', GradientType=0 );
	
	/* CSS Button Gradient End */
}
.Button:hover {
background: rgba(254,182,69,1);
background: -moz-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(204,187,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(204,187,30,1)));
background: -webkit-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(204,187,30,1) 100%);
background: -o-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(204,187,30,1) 100%);
background: -ms-linear-gradient(top, rgba(254,182,69,1) 0%, rgba(204,187,30,1) 100%);
background: linear-gradient(to bottom, rgba(254,182,69,1) 0%, rgba(204,187,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#ccbb1e', GradientType=0 );
}
.RegisterOuterBox {
	width:350px;
	padding:12px;
	margin:0px auto 0px auto;
	border-radius:16px;
	background-color:rgba(0,0,0,.3);
}
.RegisterBox {
	width:350px;
	height:auto;
	padding:11px 0px 11px 0px;
	border-radius:6px;
	background-color:rgba(245,244,244,1.00);
}
.error {
	height:auto;
	margin:6px auto;
	border:1px solid #414141;
	background-color:rgba(5,75,41,1.00);
	color:#FFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:3px;
	text-align:center;	
}
.Logo {
	width:79px;
	height:40px;
	margin-top:21px;
}
.LogoMobile {
	display:none;
	width:79px;
	height:40px;
	margin:11px auto;
}
.MobileFooter {
	width:300px;
	margin:6px; auto;
	text-align:center;
	display:none;
}
@media (max-width: 400px) {
.LogoMobile {
	display:block;
}
.WelcomeMessage {
	display:none;
	width:200px;
}
.Auth {
	width:300px;
	float:none;
	margin:0 auto;
	margin-left:0px;
}
.Holder {
	width:350px;
	margin:0 auto;
}
.OuterAccountBox {
	margin-left:0px;
	margin:0 auto;
	float:none;
}
.RegisterOuterBox {
	width:350px;
	padding:12px;
	margin:0px auto 0px auto;
	border-radius:16px;
	background-color:rgba(0,0,0,.3);
}
.RegisterBox {
	width:350px;
	height:auto;
	padding:11px 0px 11px 0px;
	border-radius:6px;
	background-color:rgba(245,244,244,1.00);
}
.MobileFooter {
	width:300px;
	margin:6px; auto;
	text-align:center;
	display:block;
}
}
@media (max-width: 700px) {
.LogoMobile {
	display:block;
}
.WelcomeMessage {
	display:none;
}
.Auth {
	width:350px;
	float:none;
	margin:0 auto;
	margin-left:0px;
}
.Holder {
	width:350px;
	margin:0 auto;
}
.OuterAccountBox {
	margin-left:0px;
	margin:0 auto;
	float:none;
}
.RegisterOuterBox {
	width:350px;
	padding:12px;
	margin:0px auto 0px auto;
	border-radius:16px;
	background-color:rgba(0,0,0,.3);
}
.RegisterBox {
	width:350px;
	height:auto;
	padding:11px 0px 11px 0px;
	border-radius:6px;
	background-color:rgba(245,244,244,1.00);
}
.MobileFooter {
	width:300px;
	margin:6px; auto;
	text-align:center;
	display:block;
}
}